<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micwsx.project.advertise.dao.ClockInMapper" >
  <resultMap id="BaseResultMap" type="ClockIn" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="memberId" property="memberid" jdbcType="VARCHAR" />
    <result column="attend" property="attend" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, memberId, attend, createTime
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clock_in
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectYesterdayClockIn" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from clock_in
    where memberId = #{memberId,jdbcType=INTEGER}
    and date_format(createTime,'%Y%m%d')=date_format(date_add(now(), interval -1 DAY),'%Y%m%d');
  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clock_in
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="ClockIn" >
    insert into clock_in (id, memberId, attend, 
      createTime)
    values (#{id,jdbcType=INTEGER}, #{memberid,jdbcType=VARCHAR}, #{attend,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="ClockIn" >
    insert into clock_in
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberid != null" >
        memberId,
      </if>
      <if test="attend != null" >
        attend,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="attend != null" >
        #{attend,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="ClockIn" >
    update clock_in
    <set >
      <if test="memberid != null" >
        memberId = #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="attend != null" >
        attend = #{attend,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="ClockIn" >
    update clock_in
    set memberId = #{memberid,jdbcType=VARCHAR},
      attend = #{attend,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>